@tailwind base;
@tailwind components;
@tailwind utilities;





body {
   /* max-width:1100px ; */
   /* margin: 0 auto;  */
   /* background-color:#dad7cd;
   color:black;
   text-decoration:none;
   margin: 0;
   padding:0; */
}
